<h1>幹部ユーザー</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>あだ名</th>
      <th>email</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_id %></td>
        <td><%= user.nickname %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add User', "/executive_users/sign_up", class:"btn btn-primary" %>
